{% extends "base.html" %} {% import 'macros.html' as macros %} 
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
  <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

</head>
<body>

<div align="center">
  <h2>Speranza Test Server</h2>
</div>

<hr>

<div class="col-md-4">

<div align="left">
  <h2>Enter Appointment</h2>
</div>

<form method="post" action="/add_appt" id="appointment_post" name="appointment_post">

  User ID:<br>
  <input type="text" class="form-control" name="user_id" placeholder="Ex: xxxxx"><br>
  Date:<br>
  <div class="container">
      <div class="row">
          <div class='col-md-4'>
              <div class="form-group">
                  <div class='input-group date' id='datetimepicker1'>
                      <input type='text' class="form-control" name="date" />
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
              </div>
          </div>
          <script type="text/javascript">
              $(function () {
                  $('#datetimepicker1').datetimepicker();
              });
          </script>
      </div>
  </div>
    
  <div align="center"><button action="/add_appt" type="submit" class="btn btn-primary" method="post">Submit</button></p></div>

</form>   

<hr>

<div align="left">
  <h2>Enter Patient Info</h2>
</div>

<form method="post" action="/add_patient" id="appointment_post" name="appointment_post">

  First Name:<br>
  <input type="text" class="form-control" name="firstname" placeholder="Johnny"><br>

  Last Name:<br>
  <input type="text" class="form-control" name="lastname" placeholder="Appleseed"><br>

  Phone Number:<br>
  <input type="tel" class="form-control" name="phone_number" placeholder="+1 (555) 555-1212"><br>

  Phone Number:<br>
  <input type="tel" class="form-control" name="contact_number" placeholder="+1 (555) 555-1212"><br>

  Address ID:<br>
  <input type="text" class="form-control" name="address_id" placeholder="Ex: xxxxx"><br>

  <div align="center"><button type="submit" class="btn btn-primary">Submit</button></p></div>

</form> 
<script type="text/javascript">
  $('form').on('submit', function(){
      $(this).find('input[type="tel"]').each(function(){
          $(this).val() = $(this).val().replace(/[\s().+-]/g, '');
      });
  });
</script>  

<hr>

</div>

<div class="col-md-4">

<div align="left">
  <h2>Appointment List</h2>
     <table class="table table-striped table-hover">
      <thead>
      {% for z in appts %}
          <tr>
            <td>{{z.user_id}}</td>
            <td>{{z.date}}</td>
          </tr>
          
      {% endfor %}
      </tbody>
    </table>
</div>

</div>

<div class="col-md-4">

<div align="left">
  <h2>Patient List</h2>
    <table class="table table-striped table-hover">
      <thead>
      {% for patient in patients %}
          <tr>
            <td>{{patient.id}}</td>
            <td>{{patient.firstname}}</td>
            <td>{{patient.lastname}}</td>
            <td>{{patient.contact_number}}</td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
</div>

</div>

</body>
</html>

{% endblock %}  